body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    background-color: #23bcbc9d;
    color: black;
}

#title-h1{
  color: black;
}

#Log{
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);

}